.SearchBar {
  background-color: #FF69B4;
  color: #fff;
  height: .6rem;
  padding: .1rem .16rem .06rem .1rem; }
  .SearchBar p {
    font-size: .15rem;
    text-align: center;
    width: 0.6rem; }
  .SearchBar span {
    display: block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAPCAMAAADJev/pAAAAD1BMVEVHcEz///////////////8T4DEaAAAABHRSTlMAnQFcPZ5hpwAAAEZJREFUGNN1zdEOACAEQNHg/785lCbopblnZiERrvSsETMkQWAmhSTaBeyL8kKSMH4yDdP6dLB0l9qvNN2l9iNdV+m7SOwbVu4BmdCeaLkAAAAASUVORK5CYII=") no-repeat center center;
    background-size: contain;
    height: .08rem;
    margin: 0 .08rem 0 0;
    width: .12rem; }
  .SearchBar label {
    display: block;
    flex: 1; }
    .SearchBar label input {
      border: none;
      border-radius: .04rem;
      font-size: .13rem;
      height: .36rem;
      padding: 0 .1rem;
      width: 100%; }
