@charset "UTF-8";
/* normalize 开始 */
audio:not([controls]) {
  display: none;
  height: 0; }

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none;
  display: block; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

textarea {
  resize: vertical; }

/* 去除文字选中时的阴影 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* 去除input number 上下箭头 */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* normalize 结束 */
.twoLineOverflow {
  display: block;
  display: -webkit-box;
  width: 100%;
  height: 0.4rem;
  font-size: 0.16rem;
  line-height: 0.2rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.fourLineOverflow {
  display: block;
  display: -webkit-box;
  width: 100%;
  height: 0.7rem;
  font-size: 0.12rem;
  line-height: 0.175rem;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.textOverflow {
  display: block;
  width: 100%;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.arrow_up {
  display: block;
  width: 0;
  height: 0;
  border-width: 0 12px 12px;
  border-style: solid;
  border-color: transparent transparent #d33;
  position: absolute;
  top: 0;
  left: 0; }

.arrow_down {
  display: block;
  width: 0;
  height: 0;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #d33 transparent transparent;
  position: absolute;
  top: 0;
  left: 0; }

.arrow_left {
  display: block;
  width: 0;
  height: 0;
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #d33 transparent transparent;
  position: absolute;
  top: 0;
  left: 0; }

.arrow_right {
  display: block;
  width: 0;
  height: 0;
  border-width: 10px 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #d33;
  position: absolute;
  top: 0;
  left: 0; }

.Toast {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999; }
  .Toast section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: .05rem;
    width: 78%;
    position: fixed;
    left: 11%;
    text-align: center;
    top: 50%; }
    .Toast section p {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: .04rem;
      color: #fff;
      font-size: .14rem;
      line-height: .2rem;
      padding: .06rem .1rem;
      text-align: center; }

.flex, .flex-r, .flex-c {
  display: flex; }
  .flex-r {
    flex-direction: row; }
  .flex-c {
    flex-direction: column; }
  .flex-s-s {
    align-items: flex-start;
    justify-content: flex-start; }
  .flex-s-e {
    align-items: flex-start;
    justify-content: flex-end; }
  .flex-s-c {
    align-items: flex-start;
    justify-content: center; }
  .flex-s-b {
    align-items: flex-start;
    justify-content: space-between; }
  .flex-s-a {
    align-items: flex-start;
    justify-content: space-around; }
  .flex-e-s {
    align-items: flex-end;
    justify-content: flex-start; }
  .flex-e-c {
    align-items: flex-end;
    justify-content: center; }
  .flex-e-e {
    align-items: flex-end;
    justify-content: flex-end; }
  .flex-e-b {
    align-items: flex-end;
    justify-content: space-between; }
  .flex-e-a {
    align-items: flex-end;
    justify-content: space-around; }
  .flex-c-s {
    align-items: center;
    justify-content: flex-start; }
  .flex-c-c {
    align-items: center;
    justify-content: center; }
  .flex-c-e {
    align-items: center;
    justify-content: flex-end; }
  .flex-c-b {
    align-items: center;
    justify-content: space-between; }
  .flex-c-a {
    align-items: center;
    justify-content: space-around; }
  .flex-wrap {
    flex-wrap: wrap; }
  .flex-nowrap {
    flex-wrap: nowrap; }

.flexItem {
  flex: 1; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 625%;
  min-height: 100%; }

body {
  background-color: #f7f7f7;
  color: #333;
  font-family: "Microsoft Yahei",sans-serif;
  font-size: .16rem;
  min-height: 100vh; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

@media screen and (max-width: 320px) {
  html {
    font-size: 560%; } }

#root, .container {
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh; }

.main {
  min-height: 100vh;
  padding-top: .44rem; }

.swiper-slide-shadow-left, .swiper-slide-shadow-right {
  border-radius: 7px; }

.sliderContainer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0; }
  .sliderContainer .swiper-slide {
    border-radius: 7px;
    width: 76%; }
  .sliderContainer img {
    border-radius: 7px;
    display: block;
    width: 100%;
    min-height: 1.2rem; }

.sliderContainer:after {
  content: '';
  display: block;
  width: 120vw;
  height: 2rem;
  border-radius: 100%;
  background-color: #FF69B4;
  position: absolute;
  top: -1rem;
  left: -10vw; }

.bottomMenu {
  background-color: #FF69B4;
  border-radius: 100%;
  height: 3.2rem;
  width: 100vw;
  position: fixed;
  bottom: -2.4rem;
  left: 0; }
  .bottomMenu .bottomMenu_footer {
    background-color: #FF69B4;
    position: fixed;
    width: 100vw;
    height: .4rem;
    left: 0;
    bottom: 0; }

.Home .featured {
  background-color: #fff;
  padding: .1rem 1% .2rem 1%; }
  .Home .featured ul li {
    flex-basis: 24.5%;
    margin: .1rem 0;
    text-align: center; }
    .Home .featured ul li a {
      display: block; }
    .Home .featured ul li img {
      margin: 0 auto;
      width: 60%; }
    .Home .featured ul li span {
      color: #666;
      display: block;
      font-size: .14rem;
      margin-top: .04rem; }

.Map .mapContainer, .Map .HouseView_content {
  width: 100vw;
  height: calc(100vh - .44rem); }

.Map .RouteMap {
  height: calc(100vh - .82rem);
  top: .82rem;
  left: 0; }

.Map .HouseView_content {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 99; }

.Map .MapZb {
  position: absolute;
  top: .6rem;
  right: .14rem;
  background-color: #FF69B4;
  padding: .08rem;
  border-radius: .04rem;
  transition: all 1s; }
  .Map .MapZb ul li {
    color: #fff;
    font-size: .12rem;
    padding: .05rem 0; }
    .Map .MapZb ul li img {
      height: .16rem;
      margin-right: .05rem;
      filter: brightness(300%); }

.Map .MapNav {
  background-color: #FF69B4;
  bottom: 0;
  color: #fff;
  left: 0;
  position: fixed;
  width: 100vw;
  height: .44rem;
  z-index: 9999; }
  .Map .MapNav ul {
    height: 100%;
    width: 100%; }
    .Map .MapNav ul li {
      flex: 1;
      font-size: .12rem;
      height: 100%;
      text-align: center;
      padding: 0 .08rem; }
      .Map .MapNav ul li a {
        display: block;
        color: #fff; }
      .Map .MapNav ul li span {
        border: 1px solid #fff;
        border-radius: .04rem;
        height: .32rem;
        display: block;
        line-height: .3rem;
        margin-top: .06rem; }
    .Map .MapNav ul .active {
      background-color: #c72777 !important; }

.routesPlan {
  position: fixed;
  top: 0;
  width: 100vw;
  height: .82rem;
  left: 0;
  background-color: #fff;
  font-size: .14rem;
  box-shadow: 1px 1px 8px #ddd; }
  .routesPlan nav {
    text-align: center;
    margin: .1rem 0; }
    .routesPlan nav ul {
      width: 70%;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: .04rem; }
      .routesPlan nav ul li {
        font-size: .14rem;
        line-height: .3rem; }
        .routesPlan nav ul li:not(:last-child) {
          border-right: 1px solid #ddd; }
        .routesPlan nav ul li:first-child {
          border-top-left-radius: .04rem;
          border-bottom-left-radius: .04rem; }
        .routesPlan nav ul li:last-child {
          border-top-right-radius: .04rem;
          border-bottom-right-radius: .04rem; }
      .routesPlan nav ul .active {
        background-color: #c72777 !important; }
  .routesPlan form {
    margin: 0 auto;
    margin-bottom: .1rem;
    width: 90%; }
    .routesPlan form label:first-child {
      margin-right: .1rem; }
    .routesPlan form label input[type=text] {
      border: 0;
      border-bottom: 1px solid #ddd;
      color: #666;
      flex: 1;
      font-size: .14rem;
      width: 100%;
      padding: 0 .04rem; }
    .routesPlan form label span {
      margin-right: .06rem; }

.moreLessBar {
  width: 100%;
  height: .24rem;
  padding-top: .06rem; }
  .moreLessBar img {
    height: .18rem;
    margin: 0 auto; }
  .moreLessBar .less {
    transform: rotate(-90deg); }
  .moreLessBar .more {
    transform: rotate(90deg); }

.routesPath {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 1.5rem;
  z-index: 999;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 8px #666; }
  .routesPath .route {
    padding: .2rem .1rem;
    width: 100%; }
    .routesPath .route li {
      border: 1px solid #ddd;
      border-radius: .06rem;
      flex: 1;
      text-align: center;
      max-width: 1rem;
      padding: .04rem 0; }
      .routesPath .route li h4 {
        color: #333;
        font-size: .14rem; }
      .routesPath .route li p {
        color: #999;
        font-size: .12rem; }
    .routesPath .route .active {
      background-color: #FF69B4 !important; }
      .routesPath .route .active h4, .routesPath .route .active p {
        color: #fff; }
  .routesPath .steps {
    margin-top: .2rem;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    margin-bottom: .2rem; }
    .routesPath .steps li {
      padding: .06rem .1rem .06rem .4rem;
      font-size: .12rem;
      position: relative; }
      .routesPath .steps li h4 {
        color: #333;
        font-size: .14rem; }
      .routesPath .steps li p {
        color: #999; }
      .routesPath .steps li span {
        position: absolute;
        left: .16rem;
        color: #FF69B4;
        font-size: .16rem; }
      .routesPath .steps li:before {
        content: '';
        color: #FF69B4;
        display: block;
        height: 100%;
        position: absolute;
        left: 0.2rem;
        border-left: 2px solid #FF69B4; }

.fullHeight {
  height: 100vh; }

.Weather {
  background: url("./img/3.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: 'Microsoft YaHei';
  overflow: hidden;
  padding-top: .44rem; }
  .Weather .Weather_header {
    color: #fff;
    margin: 12px 0;
    text-align: center; }
    .Weather .Weather_header h3 {
      font-size: .18rem;
      font-weight: 500; }
    .Weather .Weather_header p {
      font-size: .15rem;
      margin-top: .05rem; }
  .Weather .Weather_main {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 86%;
    border-radius: 6px;
    padding: .1rem .2rem; }
    .Weather .Weather_main img {
      filter: brightness(4); }
    .Weather .Weather_main aside {
      flex: 1;
      text-align: center; }
      .Weather .Weather_main aside p {
        color: #fff;
        font-size: .36rem; }
        .Weather .Weather_main aside p span {
          color: #3c5f81;
          font-size: .14rem;
          margin-right: .1rem; }
  .Weather .Weather_info {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    flex: 1;
    width: 100%;
    margin-top: .36rem;
    padding: .2rem; }
    .Weather .Weather_info .detail {
      margin: .36rem 0; }
      .Weather .Weather_info .detail li {
        height: .6rem;
        width: 50%;
        text-align: center; }
        .Weather .Weather_info .detail li p {
          line-height: .24rem; }
    .Weather .Weather_info .forecast ul li {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.8);
      border-radius: .06rem;
      color: #3c5f81;
      padding: .2rem .1rem; }
      .Weather .Weather_info .forecast ul li img {
        max-width: 100%; }
      .Weather .Weather_info .forecast ul li h4 {
        font-size: .16rem;
        font-weight: 500; }
      .Weather .Weather_info .forecast ul li p {
        font-size: .14rem; }
    .Weather .Weather_info .forecast ul li:not(:last-child) {
      margin-right: .1rem; }
